#bannerArea {
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
    background-image: url(../banner.jpg);
    background-size: cover;
}

#top {
    margin: 60px auto 60px auto;
}

#bannerArea h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bannerArea h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: white;
}

#subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 60px auto;
}

#emailBar {
    border: none;
    padding: 10px 20px;
    min-width: 50vw;
    border-radius: 25px;
}

#subscribeBtn {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #2F3645;
    color: white;
    font-family: 'robot', sans-serif;
    font-weight: bold;
}

#subscribeBtn:hover {
    background-color: #000000;
    color: #ff863b;
    cursor: pointer;
}

#features ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#content {
    display: flex;
    padding: 30px 70px;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

#content #subscribers, #rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

#content #quote {
    max-width: 70%;
}

#socialMedia {
    margin: 20px auto;
    font-family: poppins, sans-serif;
    text-align: center;
}

#iconContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#socialMedia .socialIcon {
    height: 50px
}

#socialMedia .socialIcon:hover {
    cursor: pointer;
    transform: rotate(15deg);
}